<template>
    <div class="d-flex min-vh-100 flex-column" :lang="$locale">
        <div v-html="plausible"/>
        <Header :baseUrl="baseUrl"/>
        <Info/>
        <Dictionaries/>
        <AppsInstructions/>
        <Footer :baseUrl="baseUrl"/>
    </div>
</template>

<script>
export default {
    data() {
        return {
            baseUrl: 'https://isjp.zaimki.pl',
            plausible: '<script defer data-domain="isjp.zaimki.pl" src="https://stats.pronouns.page/js/plausible.js"><\/script>',
        }
    },
}
</script>

<style lang="scss">
    @import "assets/style";
</style>
