<template>
    <article class="flex-grow-1">
        <div class="container">
            <h2>
                <Icon v="file-check"/>
                {{ $t('instructions.header') }}
            </h2>
            <p v-for="p in $t('instructions.intro')">
                <T :v="p"/>
            </p>
            <div class="alert alert-warning d-flex align-items-center flex-column flex-lg-row my-4">
                <Icon v="user-hard-hat" size="2" class="mx-4 my-2"/>
                <T>{{ $t('instructions.beta') }}</T>
            </div>

            <ul>
                <li v-for="app in ['MacOS', 'JetBrains']">
                    <h3 class="h4">{{ app }}</h3>
                    <p>
                        <T>{{ $t('instructions.apps.' + app) }}</T>
                    </p>
                </li>
            </ul>
        </div>
    </article>
</template>
