<template>
    <pre v-if="enabled">{{v === undefined ? 'undefined' : JSON.stringify(v, null, 4)}}</pre>
</template>

<script>
export default {
    props: {
        v: { required: true },
    },
    data() {
        return {
            enabled: true, // TODO process.env.DEV,
        }
    }
};
</script>
