<template>
    <article class="flex-grow-1 bg-dark bg-dark-gradient text-white shadow">
        <div class="container">
            <div class="row">
                <div v-for="({features, icon, counter}, dictionaryName) in dictionaries" class="col-12 col-md-6">
                    <h2 class="h1">
                        <Icon :v="icon"/>
                        {{ $t(`dictionaries.${dictionaryName}.label`) }}
                    </h2>
                    <p class="my-4">
                        <T>{{ $t(`dictionaries.${dictionaryName}.description`) }}</T>
                    </p>
                    <ul class="list-unstyled" style="font-size: 1.1em">
                        <li v-for="({extend, link, examples, removedExamples}, feature) in features"
                            :class="['mb-2', 'd-flex', releases[dictionaryName].stats.features.includes(feature) || extend ? '' : 'text-muted']">
                            <p class="h3 mx-2">
                                <Icon :v="extend ? 'plus-circle' : (releases[dictionaryName].stats.features.includes(feature) ? 'check-circle' : 'hourglass-start')"/>
                            </p>
                            <div v-if="extend" class="flex-grow-1">
                                <p class="h3 mb-4">
                                    {{ $t('features.extend.' + extend) }}:
                                </p>
                            </div>
                            <div v-else class="flex-grow-1">
                                <p class="h3 mb-1">
                                    {{ $t('features.' + feature) }}
                                </p>
                                <p class="small mb-1">
                                    {{ $t('download.examples') }}: {{ examples }}…
                                </p>
                                <p v-if="removedExamples" class="small mb-1">
                                    {{ $t('download.removedExamples') }}: <span class="removed">{{ removedExamples }}</span>…
                                </p>
                                <p class="small">
                                    <a :href="link" target="_blank" rel="noopener">
                                        <Icon v="long-arrow-right"/>
                                        {{ $t('download.info') }}
                                    </a>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <a v-if="releases[dictionaryName]"
                       :href="`/releases/${releases[dictionaryName].filename}.zip`" download
                       class="btn btn-primary btn-lg w-100"
                       @click="count(counter)"
                    >
                        <Icon v="cloud-download"/>
                        {{ $t('download.action') }}
                    </a>
                    <button v-else class="btn btn-primary btn-lg w-100" disabled="disabled">
                        {{ $t('download.unavailable') }}
                    </button>
                    <p v-if="releases[dictionaryName]" class="small text-muted">
                        {{ $t('download.version') }}: {{ releases[dictionaryName].version }}
                    </p>
                </div>
            </div>
        </div>
    </article>
</template>

<script>
import releases from '../releases/manifest.json';

export default {
    data() {
        return {
            releases: releases,
            dictionaries: {
                normatywny: {
                    icon: 'graduation-cap',
                    emoji: '😇',
                    counter: 'ISJPno',
                    features: {
                        neuterSingular: {
                            link: 'https://zaimki.pl/ono',
                            examples: '„byłom”, „zrobiłoś”, „chciałobym”',
                        },
                        feminine: {
                            link: 'https://zaimki.pl/neutratywy',
                            examples: '„demagożka”, „ziomkini”, „te profesory”',
                        },
                        terminology: {
                            link: 'https://zaimki.pl/terminologia',
                            examples: '„ambiamoria”, „panromantyczna”',
                            //removedExamples: '„homoseksualizm”, „biseksualista”, „homoniewiadomo”'
                        },
                        grammarNames: {
                            examples: '„dukaizmy”, „neutratywów”, „osobatywach”, „neozaimek”, „postpłciowy”'
                        },
                    },
                },
                neologiczny: {
                    icon: 'fist-raised',
                    emoji: '😈',
                    counter: 'ISJPne',
                    features: {
                        extend: {extend: 'normative'},
                        neuterPlural: {
                            link: 'https://zaimki.pl/ona/ich',
                            examples: '„zrobiłośmy”, „poszłoście”, „ona zrobiły”',
                        },
                        neuterNouns: {
                            link: 'https://zaimki.pl/neutratywy',
                            examples: '„to autorze”, „studencie”, „te aktywiszcza”',
                        },
                        postgender: {
                            link: 'https://zaimki.pl/onu',
                            examples: '„onu”, „jenu”, „zrobiłu”, „chciałuś”, „wysoku”, „szybkienu”',
                        },
                        postgenderNouns: {
                            link: 'https://zaimki.pl/dukatywy',
                            examples: '„tenu autoru”, „studentu”, „teny aktywisty”',
                        },
                        placeholderX: {
                            link: 'https://zaimki.pl/onx',
                            examples: '„onx”, „jex”, „zrobiłx”, „chciałxś”, „szybkx”',
                        },
                        placeholderXNouns: {
                            link: 'https://zaimki.pl/iksatywy',
                            examples: '„tx autorx”, „studentx”, „txx aktywistxx”',
                        },
                        nonpersonal: {
                            link: 'https://zaimki.pl/ktosio',
                            examples: '„ktosio”, „nikto”, „ktosia”, „niktu”, „ktosix”',
                        },
                    },
                },
            },
        }
    },
    methods: {
        count(counter) {
            fetch(`https://counter.avris.it/${counter}.json`);
        }
    }
}
</script>
