<template>
    <footer class="bg-dark bg-dark-gradient text-white py-5 shadow">
        <div class="container">
            <div class="d-flex flex-column flex-md-row text-center text-md-start align-items-center">
                <ul class="list-unstyled flex-grow-1">
                    <li class="mb-2">
                        <T>{{ $t('footer.authors') }}</T>
                    </li>
                    <li class="mb-2">
                        <T>{{ $t('footer.contact') }}</T>
                    </li>
                    <li class="mb-2 small">
                        <T>{{ $t('footer.license') }}</T>
                    </li>
                    <li class="small">
                        <T>{{ $t('footer.tools') }}</T>
                    </li>
                </ul>
                <Share :baseUrl="baseUrl" :title="$t(`title`)" :text="$t('description')" style="font-size: 0.9em"/>
            </div>
        </div>
    </footer>
</template>

<script>
import Share from 'avris-vue-share';

export default {
    components: {Share},
    props: {
        baseUrl: {required: true},
    }
}
</script>
