<template>
    <header class="bg-dark text-white py-5 mb-4 shadow">
        <div class="container">
            <div class="d-flex align-items-center flex-column text-center">
                <img src="/isjp.svg" alt="TODO" style="height: 16rem;"/>
                <h1>{{ $t(`title`) }}</h1>
                <!--<Head>-->
                <Title>{{ $t(`title`) }}</Title>
                <Meta name="description" :content="$t('description')" />
                <Meta name="keywords" :content="$t('keywords')" />
                <Meta name="author" content="Kolektyw RJN <isjp@zaimki.pl>" />
                <Link rel="shortcut icon" :href="`/isjp.svg`" type="image/svg+xml"/>

                <Meta property="og:type" content="article" />
                <Meta property="og:title" :content="$t(`title`)" />
                <Meta property="og:url" :content="baseUrl" />
                <Meta property="og:image" :content="`${baseUrl}/banner.png`" />

                <Meta name="twitter:card" content="summary_large_image"/>
                <Meta name="twitter:title" :content="$t(`title`)"/>
                <Meta name="twitter:description" :content="$t('description')"/>
                <Meta name="twitter:image" :content="`${baseUrl}/banner.png`"/>
                <!--</Head>-->
            </div>
        </div>
    </header>
</template>

<script>
export default {
    props: {
        baseUrl: {required: true},
    }
}
</script>
