<template>
    <article class="flex-grow-1">
        <div class="container">
            <div class="row flex-lg-row-reverse">
                <div class="col-12 col-md-4">
                    <a v-if="$locale === 'pl'" href="/en" class="btn btn-primary btn-lg m-2 d-block">
                        <strong>English</strong>
                    </a>
                    <a v-else href="/" class="btn btn-primary btn-lg m-2 d-block">
                        <strong>Polski</strong>
                    </a>
                    <a v-for="(link, linkName) in links" :href="link" target="_blank" rel="noopener" class="btn btn-outline-primary btn-lg m-2 d-block">
                        <strong>{{$t(`links.${linkName}.label` )}}</strong>
                        <br/>
                        <small>{{$t(`links.${linkName}.subtitle` )}}</small>
                    </a>
                </div>
                <div class="col-12 col-md-8">
                    <p v-for="p in $t('intro')">
                        <T :v="p"/>
                    </p>
                </div>
            </div>
            <div class="alert alert-warning d-flex align-items-center my-4 flex-column flex-md-row">
                <Icon v="leaf" size="3" class="mx-5 my-2"/>
                <div>
                    <p v-for="p in $t('abandoned')">
                        <T :v="p"/>
                    </p>
                </div>
            </div>
        </div>
    </article>
</template>

<script>
export default {
    data() {
        return {
            links: {
                petition: 'https://zaimki.pl/autokorekta',
                pronounspage: 'https://zaimki.pl/',
            },
        }
    },
}
</script>
