<template>
    <span v-html="txt"></span>
</template>

<script>
export default {
    props: {
        v: {},
    },
    data() {
        return {
            txt: (this.v || this.$slots.default()[0].children)
                .replace(/{([^}]+)=([^}]+)}/g, '<a href="$1" target="_blank" rel="noopener">$2</a>'),
        }
    },
};
</script>
