@font-face {
  font-family: 'BonaNova';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/BonaNova-Regular.otf');
}
@font-face {
  font-family: 'BonaNova';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/BonaNova-Bold.otf');
}
@font-face {
  font-family: 'BonaNova';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/BonaNova-Italic.otf');
}

@font-face {
  font-family: 'Noto Emoji';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/noto-emoji-v26-emoji-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/assets/fonts/noto-emoji-v26-emoji-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/noto-emoji-v26-emoji-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/noto-emoji-v26-emoji-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/noto-emoji-v26-emoji-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/noto-emoji-v26-emoji-regular.svg#NotoEmoji') format('svg'); /* Legacy iOS */
}
